<form action="/venda/cadastrarvendas" method="post">
  <label for="nome">Nome</label>
  <input type="text" id="nome" name="nome" placeholder="Nome do cliente">
  
  <label for="produto">Produto</label>
  <input type="text" id="produto" name="produto" placeholder="Nome do produto">
  
  <label for="valor">Valor</label>
  <input type="text" id="valor" name="valor" placeholder="Valor do produto">
  
  <button type="submit">Cadastrar Venda</button>
</form>